.header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  border-left: 2.8px solid #e9e9e9;
  justify-content: flex-end;
  height: 78px;
}

.header button {
  background: transparent;
  color: red;
  font-size: 1.1em;
  font-weight: bold;
}

.header a {
  margin: 0 13px;
}

.header a img {
  height: 85px;
  border-radius: 200px;
  transition: all 0.6s;
}

.header a img:hover {
  transform: scale(1.07);
}
