#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 100vh;
}

.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #393939;
  border-radius: 7px;
  background: #0e2d3d;
  margin: 20px 0;
  padding: 12px 20px 51px 20px;
  box-shadow: 0px 0px 3px black;
  flex-direction: column;
  max-width: 300px;
}

.signin h1 {
  margin: 0 auto;
}

.signin img {
  border-radius: 151px;
  width: 136px;
}

.file {
  cursor: pointer;
}

#select-file {
  display: none;
}

.signin label {
  margin: 8px auto;
}

.signin input {
  width: 260px;
  height: 25px;
  border-radius: 4px;
  border: 1.5px solid grey;
  color: black;
}

.signin button {
  margin-top: 5px;
  width: 267px;
  height: 30px;
  border-radius: 4px;
  border: 1.5px solid grey;
  background-color: #7dd9c2;
}

.create-button {
  margin: 29px 0;
  padding: 1px 53px;
  height: 30px;
  border-radius: 4px;
  border: 1.5px solid grey;
  background-color: #6caffe;
  color: black;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
